.h1 {
    display: flex;
    justify-content: space-around;
}
 .map {
     height: 100vh;
     display: flex;
     justify-content: center;
}

.start {
    display: flex;
    justify-content: center;
}

#snake {
    background-color: greenyellow;
    border: 2px solid darkgreen;
    border-radius: 5px;
}

#snakeHead {
    background-color: darkgreen;
    border-radius: 5px;
}

#snakeTail {
    background-color: red;
    border-radius: 5px;
}

.grid {
    margin-top: 30px;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    background-color: rgb(219, 217, 217);
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(31, 1fr);
}

.worm {
    max-width: 100%;
    height: auto;
}

