body {
    background-image: url('snakeBackground3.jpg');
  }
.h1 {
    display: flex;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
}
 .game {
     height: 100vh;
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;     
     font-family: 'Press Start 2P', cursive;
     color: white;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.startButton {
    width: 100px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 15px 5px #000000;
}
.pauseButton {
    width: 100px;
}


#snake {
    background-color: greenyellow;
    border: 2px solid darkgreen;
    border-radius: 5px;
}

#snakeHead {
    background-color: red;
    border: 2px solid darkgreen;
    border-radius: 5px;
}

/* #snakeTail {
    background-color: red;
    border: 2px solid darkgreen;
    border-radius: 5px;
} */

.grid {
    justify-self: center;
    margin-top: 40px;
    height: 600px;
    width: 600px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(31, 1fr);
    box-shadow: 5px 5px 15px 5px #000000;
}

.worm {
    max-width: 100%;
    height: auto;
}

.score {
    font-size: 15px;
}

